@charset "UTF-8";

body {
  display: flex;
}

aside {
  background-color: rgb(22, 187, 237);

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 18rem;
  text-align: left;
}

.sidebar-sticky {
  position: absolute;
  right: 1rem;
  bottom: 5rem;
  left: 1rem;
}

.container {
  margin: 2rem 2rem 5rem 20rem;
}

.post {
  padding: 2rem;
}

h3 {
  border-bottom: 1px dotted #8a847e;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#ogawa-indiustry span {
  margin-left: 30px;
  font-size: 70%;
}